.header {
  background-color: #007bff;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  margin: 0;
  font-size: 1.8rem;
}

.header h2 {
  margin: 0;
  font-size: 1.2rem;
}

.contentNav {
  display: flex;
  align-items: center;
}

.contentNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  display: flex;
  align-items: center;
}

.contentNav ul li {
  font-size: 1.1rem;
}

.contentNav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;
}

.contentNav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

section {
  padding: 20px;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

select {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.logout {
  background-color: whitesmoke;
  color: #007bff;
  padding: 5px;
  border-radius: 5px;
}

ection {
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en nuevas filas */
  gap: 20px; /* Espacio entre los elementos de la cuadrilla */
}

section ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
}

section li {
  flex: 1 1 calc(33.333% - 20px); /* Tres columnas con espacio entre ellas */
  box-sizing: border-box;
  background-color: #f0f4f8; /* Fondo claro para los ítems */
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

section h3 {
  background-color: #4a90e2; /* Fondo del título */
  color: white; /* Color del texto del título */
  padding: 10px;
  border-radius: 5px;
}

section img {
  width: 100%;
  max-width: 300px; /* Ajusta el tamaño máximo de la imagen */
  height: auto;
  border-radius: 10px; /* Bordes redondeados para la imagen */
}

section a {
  display: block;
  margin-top: 10px;
  background-color: #4a90e2; /* Mismo color de fondo que el título */
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

section a:hover {
  background-color: #357abd; /* Color de fondo al pasar el mouse */
}
